{% extends "EcomBundle::layout.html.twig" %}
{% set title="autorisation de sortie" %}
{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">

{% endblock %}



    {% block body %}
        <div class="row">
            <div class="col-xl-12">
                <!-- Sorting -->
                <div class="widget">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Remplir le formulaire </h4>
                    </div>
                    <div class="widget-body">
                        {{ form_start(form) }}
                        <div class="row">


                            <div class="col-md-4">
                                {{ form_row(form.date_circulation) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.datePublication	) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.prix) }}
                            </div>

                            <div class="col-md-5">
                                {{ form_row(form.description) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.localitsation_velo) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.photo) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_row(form.categories) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_row(form.age) }}
                            </div>
                        </div>

                        <button class="btn btn-success btn-xs">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
