{% extends "EcomBundle::layout.html.twig" %}
{% set title="autorisation de sortie" %}
{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <!-- Sorting -->
            <div class="widget">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h2> Liste  des Autorisations de sortie </h2>
                    <div class="widget-options">
                        <div class="form-group pull-left mr-3">
                            <select class="form-control filter" id="etat">
                                <option value="Refusé">Refusé</option>
                                <option value="Accepté">Accepté</option>
                                <option value="En attente">En attente</option>
                            </select>
                        </div>
                        <a href="{{ path("ecom_formulaire_vente") }}" class="btn btn-success">Ajouter un velo </a>
                    </div>
                </div>

                <div class="widget-body">

                    <div class="container">

                        <div class="row">
                            {% for velo in velo %}

                                <div class="col-xs-12 col-md-6 col-lg-3">



                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('uploads/admin/' ~ velo.Photo) }}" alt="Card image cap"/>
                                    <div class="card-block">
                                        <h4 class="card-title">{{ velo.categories }}</h4>
                                        <p class="card-text">{{ velo.description }}</p>

                                        <p class="card-text">{{ velo.prix }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">{{ velo.datePublication|date('m/d/y') }}</small>
<br<button class="btn btn-info-outline btn-xs">Modifier</button> &nbsp <button class="btn btn-info btn-xs">Supprimer</button>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- Add the extra clearfix for only the required viewport -->



                        </div>
                    </div>

    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script>
        $(function () {
            dtable = $('.table').DataTable({
                responsive: true,
                "language": {
                    "url":"//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"

                }
            });
            $('.filter').on('keyup change', function() {

                dtable.search('');
                dtable.column(3).search(this.value).draw();
            });

            $(".dataTables_filter input").on('keyup change', function() {

                dtable.columns().search('');

                $('.filter').val('');
            });
        });
    </script>
{% endblock %}
