{% extends "EcomBundle::layout.html.twig" %}
{% set title="autorisation de sortie" %}
{% block css %}
    <link href="{{ asset('assets/plugins/datatables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/responsive.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">


{% endblock %}
{% block EspaceReparateur %}

  <h1>Lists of Posts !</h1>

<div class="album py-5 bg-light">
    <div class="container">

        <h2>Search A Post !!</h2>

        <div class="sidebar-search">

            <div class="input-group custom-search-form">

                <input type="text" id="search" class="form-control" placeholder="Search here">
            </div>
            <!-- /input-group -->
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"> Entities<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="entitiesNav">
                </ul>
            </li>
        </ul><br><br><br><br>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>































    <div class="row">
        <div class="col-xl-12">
            <!-- Sorting -->
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h2> Liste des actualités</h2> <td> <a href="{{ path('Ajouter') }}" class="padding-bottom-10"> Ajouter </a></td>

                </div>
                <div class="widget-body">
                    <div class="table-responsive">
                        <table id="sorting-table" class="table mb-0">
                            <thead>
                            <tr>
                                <th>Nom</th>

                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Message</th>
                                <th>Type Panne</th>
                                <th>Num telephone</th>

                            </tr>
                            </thead>
                            <tbody>


                            {% for rendezvous in rendezvous %}
                                <tr>
                                    <td>{{ rendezvous.nom }}</td>

                                    <td>{{ rendezvous.prenom}}</td>
                                    <td>{{ rendezvous.email }}</td>
                                    <td>{{ rendezvous.adresse }}</td>

                                    <td>{{ rendezvous.message}}</td>
                                    <td>{{ rendezvous.typepanne}}</td>
                                    <td>{{ rendezvous.numtel}}</td>




                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




















            {% endblock %}
{% block js %}
    <script src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script>
        $(function () {
            dtable = $('.table').DataTable({
                responsive: true,
                "language": {
                    "url":"//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"

                }
            });
            $('.filter').on('keyup change', function() {

                dtable.search('');
                dtable.column(3).search(this.value).draw();
            });

            $(".dataTables_filter input").on('keyup change', function() {

                dtable.columns().search('');

                $('.filter').val('');
            });
        });














        jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'posts') {
                                                    if (id !== 'error') {
                                                        console.log(value[1]);
                                                        entitySelector.append('<li><b>'+value[1]+'</b><a href="/detailedpost/'+id+'">'+'<img src="/uploads/post/'+value[0]+'" style="width: 50px; height: 50px"/>'+'</a></li>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });








    </script>
{% endblock %}